@charset "utf-8";

body{
    margin:0;
    border: 0;
    padding:0;
    
    font-size: 32px;
    font-family: 'Helvetica Neue', Helvetica, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino         Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'MS ゴシック', 'MS Gothic', sans-serif;
}

/*---------------------
common classes
----------------------*/

header{
    background-color: white;
    text-align: left;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
.text-right{
    text-align:right;
}

p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    /*height:200px;*/
}
ul.list-header {
    font-size: 12px;
    text-align: right;
}
ul.your_hand_list {
    padding: 0px;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}

#gu_btn{
    list-style-type:none; /*マーカーの非表示*/
    border: 1px solid #666; /**/
    background-color: #FFF; /*バックグラウンドカラーは白*/
    display:table-cell;  /*tdタグのように横並びに表示　定義 */
    cursor: pointer;
}
#cho_btn{
    list-style-type:none; /*マーカーの非表示*/
    border: 1px solid #666; /**/
    background-color: #FFF; /*バックグラウンドカラーは白*/
    display:table-cell;  /*tdタグのように横並びに表示　定義 */
    cursor: pointer;
}
#par_btn{
    list-style-type:none; /*マーカーの非表示*/
    border: 1px solid #666; /**/
    background-color: #FFF; /*バックグラウンドカラーは白*/
    display:table-cell;  /*tdタグのように横並びに表示　定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

/*---------------------
module
----------------------*/
.jyanken_logo{ 
    width: 50%;
    height: 50%;
    float: left;
}

.header_title{
    text-align: center;
    margin: 10px;
}

.computer_hand_image{
    display: block;
    text-align: center;
    padding-top; 25px;
    margin: 25px;
}

.condition {
    display: block;
    text-align: center;
}

.your_hand_list {
    background-color: azure;
    
}

.rule {
    text-align: center;
}