* {
    margin: 0;
    padding: 0;
}

body {
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #ddd;
    font-size: 14px;
}

nav {
    text-align: center;
    background: #fff;
}

nav ul li a {
    margin: 0 5px;
    text-decoration: none;
    display: inline-block;
    color: #999;
    font-weight: bold;
}

nav ul li a.selected {
    color: #000;
}

header {
    background-image: url("bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

#logo {
    padding: 0 20px;
    text-align: center;
}

#logo img {
    max-width: 120px;
    border:5px solid #fff;
    border-radius: 100%;
}

#logo h1 {
    letter-spacing: 0.15em;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

.container {
    max-width: 800px;
    margin: -100px auto 0;
    background-color: #fff;
}

section {
    padding: 30px 20px;
}

section h2 {
    padding: 10px 0px 20px 0px;
    text-align: center;
    letter-spacing: 0.15em;
}

footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}

span.red {
    color: red;
}

table.profile {
    width="600"
    height="200"
    border="1"
    position : absolute;
    top : 100px;
    left : 100px;
    width : 600px;
    height : 400px;
}