/*----------
charset
----------*/
@charset "utf-8";

/*----------
common class
----------*/

.text-center {
    text-align: center;
}
.header{
    background-color: blcak;
    margin-top: 25px;
    margin-bottom: 25px;
    background-position : 0px;
    text-align : center;
    vertical-align : middle;
}

.inner {
    width: 960px;
    margin: 0 auto;
}


/*----------
block-module
----------*/
.footer {
    background: rgb(123,122,122);
}


/*----------
title module
----------*/

.section-title{
    margin-bottom: 21px;
    font-size:21px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.section-title-ja{
    display: block;
    margin-top:21px;
    font-size:14px;
}
.section-title__yellow{
    color:#ffd61a;
}
.section-title__white{
    color:#fff;
}


.logotext {
    font-size: 14px;
}

.logo {
    margin-top: 24px;
    margin-bottom: 24px;
}

.catchcopy {
    vertical-align: middle;
}

.mainvisual {
    background-image: url(../img/bg-cheese.jpg)
    
}
.cheese {
    position: absolute;
}

.relative {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}

.absolute {
    display: inline;
    position: absolute;
    top: 600px;
    left: 200px;
}

.news {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #ffff00;
    font-size: 21px;
    text-align: center;
}

.information {
    margin-bottom: 20px;
    font-size; 14px;
    text-align: center;
}

.informationlist {
    font-size: 16px;
    text-align: center;
}

.newslist {
    text-align: right;
}
.feature {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
}

.special {
    font-size: 16px;
    padding-bottom: 40px;
    text-align: center;
}

.courceimage {
    background-color: yellow;
}

.courcelist {
    float: center;
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
}

.lab_cource {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.academy_cource {
    padding-top: 90px;
    padding-bottom: 150px;
    text-align: center;
}

.lab_cource_title {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 18px; 
}

.lab_academy_title {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 18px; 
}

.gallery {
    margin-bottom: 20px;
    text-align: center;
    background-color: yellow;
}

.gallery_title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;
}

.gallery_japanese {
    font-size: 16px;
    padding-bottom: 40px;
    text-align: center;    
}

.gallery_image a:hover img{
    opacity: 0.5;
}

.entery {
     margin-bottom: 20px;
    text-align: center;
    background-color: yellow;
}

.entry_infromation{
    
    
}

.form-text {
    width: 200px;
}
/*---------------------
form-module
----------------------*/
input[type="text"] {
    width:170px;
    appearance:none;
    -webkit-appearance:none;
}
select {
    width:220px;
    appearance:none;
    -webkit-appearance:none;
}
input[type="radio"]{
    width:11px;
    height:11px;
    margin-right:12px;
}
label{
    display: block;
    padding-bottom: 14px;
    line-height: 2.5;
}
.form-module{
    width:560px;
    margin:0 auto;    
}
.form-module td{
    padding-bottom: 24px;
}

.form-text{
    width:200px;
}
.entry-btn{
    width:399px;
    height:90px;
    background:url(../img/btn-entry.png) no-repeat;
    text-indent:100%;
    white-space: nowrap;
}

.btn-pageTop{
    position: fixed;
    right: 20px;
    bottom: 20px;

}
.contents-box{
    padding: 56px 0 48px;
}

dt {
    padding-top: 10px;
    padding-left: 400px;
    padding-bottom: 10px;
    width: 150px;
    float: left;
    clear: both;
}

dd {
    padding-top : 10px;
    padding-right : 400px;
    padding-bottom : 10px;
    margin-left : 10px;
    text-align: left;
}

/*-------------
list module
--------------*/
.list-footer{
    margin-top: 72px;
} 

.list-footer >li{
    width:300px;
    float: left;
    margin-right: 20px;
    padding:47px 0px;
    background: #fff; /* 背景色が白 */
}

.list-footer >li.maps{
    padding: 0px;
}

/*-------------
footer
-------------*/
./*---------------------
footer-parts
----------------------*/
.footer-caution{
    margin-top: 21px;
    text-align: left;
    line-height: 1.5;
    color: #fff;
}
