html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  header {
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    border: solid thin blue;
  }
  footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    border: solid thin green;
  }

  #board {
    background-color: red;
    border: solid thin red;
    width: 100%;
    height: 100px;
    overflow: scroll;
  }

  #target p {
    padding: 15px;
    margin: 10px;
    border: solid thin lightgreen;
    border-radius: 5px;
  }
