.mdl-textfield.textfield-name{
  width: 208px;
  margin-left: 15px;
  }
.shim{
  position: fixed;
  bottom: 54px;
  left: 0;
  right: 0;
  height: 36px;
  background: linear-gradient(rgba(255,255,255,0), #eee 80%) top center no-repeat;
}

main{
  background: #eee;
}
.mdl-layout__header-row{
  padding-left: 40px!important;
}
.send-message{
  display: flex;
  display: -webkit-flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 240px;
  height: 54px;
  padding: 0 16px 6px 16px;
  background: #eee;
  width: auto;
}

.mdl-textfield.textfield-message{
  width: 95%;
}

@media (max-width: 850px) {
.send-message{
  width: 95%;
  left: 0;
  }
}

.send-message .form{
  flex: 1;
  -webkit-flex: 1;
}
.send-message .button-wrap{
  width: 56px;
  position: fixed;
  bottom: 3px;
  right: 16px;
  background: #eee;
  padding-left: 20px;
}

.rec_all{
  padding-bottom: 60px;
}
.rec_wrap{
  display: flex;
  display: -webkit-flex;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  padding-left: 40px;
}
.rec_content{
  flex: 1;
  -webkit-flex: 1;
}
.rec_name{
  color: #999;
  font-weight: bold;
  float: left;
}
.rec_usrimg{
  width: 50px;
  margin-right: 20px;
}
.rec_usrimg img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgb(255,82,82);
}
.rec_mes{
  clear: both;
}
.rec_date{
  width: 120px;
  font-size: 0.8em;
  color: #999;
  float: right;
}

.usrimg{
  text-align: center;
  margin-top: 20px;
}
.usrimg img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgb(255,82,82);
}

.submit-btn{
  position: fixed;
  bottom: 3px;
  right: 16px;
  width: 56px;
  height: 56px;
  z-index: 10;
  cursor: pointer;
}